label {
    margin-top: 35px;
    color: #FFF;
    font-weight: bold;
}

input {
    margin-top: 10px;
    padding: 10px;
    background-color: #F1DAC4;
    border: 0;
}

input:focus {
    outline: 0
}

.addButton {
    margin-top: 10px;
}