table {
    margin-top: 35px;
    background-color: #A69CAC;
    border: 1px solid #161B33;
}

thead {
    background-color: hwb(237 28% 55%);
}

td, th {
    padding: 5px 10px;
    border: 1px solid #161B33
}

th {
    color: #FFF
}

button {
    margin: 0 2px;
    background-color: #474973;
    color: #FFF;
}